html {
  font-size: 16px;
  font-family: font-family: 'Open Sans', sans-serif;
}

header {
    height: 64px;
    width: 100%;
    background-color: white;
    margin: auto;
    display: flex;
    position: fixed;
    border-bottom: 1px solid black;
}

header .logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 1.5rem;
}

.logo img {
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

header nav ul li {
    display: inline-block;
    padding-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
