html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3.25rem;
  font-family: 'Zilla Slab', serif;
  line-height: 3.35rem;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Zilla Slab', serif;
  line-height: 3rem;
}

h3 {
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 2rem;
}


h4 {
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8rem;
  font-weight: 300;
}

p {
  line-height: 1.5rem;
}

header {
    height: 64px;
    width: 100%;
    background-color: #fff;
    margin: auto;
    display: flex;
    position: fixed;
    box-shadow: 0 1px 4px #999;
}

header .logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 1.5rem;
}

.logo img {
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

header nav ul li {
    display: inline-block;
    padding-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }

nav ul li a:hover{
    color: #40B7EB;
}

nav .mobile {
   display: none;
 }


.logo .colmar {
  font-weight: 600;
  font-size: 1.25rem;
  font-family: 'Zilla Slab', serif;
  letter-spacing: 1;
}

.logo .academy {
  font-size: 1.25rem;
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  letter-spacing: 1;
}

.banner-container{
  display: flex;
  background-color: #e6e6e6;
}

.banner-image{
  width: 60%;
  padding: 2rem 0rem 2rem 1.5rem;
}

.banner-image img {
    width: 100%;
}

.banner-info{
  width: 40%;
  margin: auto;
  padding-left: 2.5rem;
}

.banner-info h1{
  padding-bottom: 1.5rem;
  padding-right: 3rem;
}

.banner-info h4{
  padding-bottom: 1.5rem;
  padding-right: 3rem;
}

.button {
  padding: 1rem 2.5rem;
  border-radius: 4px;
  background-color: #40B7EB;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #0e94ce;
}

.practice-container{
  display: flex;
  margin-bottom: 2rem;
}

.practice-left{
  width: 60%;
  padding: 2rem 0rem 0rem 1.5rem;
}

.practice-image img {
    width: 100%;
}

.practice-image {
    padding-bottom: 2rem;
}

.caption {
  font-size: .85rem;
}
.practice-info h2{
  padding-bottom: 1.5rem;
}

.practice-info p{
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.practice-right{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.event-image{
  width: 35%;
}


.event-image img{
  width: 100%;
}
.practice-right .event {
   display: flex;
   padding: 1rem 0 1rem 1rem;
   border-bottom: 1px solid #e6e6e6;
   border-left: 1px solid #e6e6e6;
   }


  .practice-right .event:nth-child(3){
    background-color: #e6e6e6;
  }

  .practice-right .event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 0.75rem 0 1rem;
    }

.readmore {
        padding-top: 1rem;
      }

.readmore a{
      text-decoration: none;
      font-size: .85rem;
      font-weight: 600;
      color: #40B7EB;
    }

.readmore a:hover{
      text-decoration: underline;
    }


.learn-container{
    background-color: #e6e6e6;
  }

.learn-container h2{
  text-align: center;
  padding: 2rem 0;
}

  .course-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
  }

  .course-item{
    width: 30%;
    background-color: white;
    margin: 1rem;
  }

  .course-image img{
    width: 100%;
  }
  .course-image {
    padding-bottom: 1rem;
  }
  .course-info{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }

  .course-info h3{
    padding-bottom: .5rem;
  }

  .courses{
    padding-bottom: .5rem;
    font-size: .85rem;
  }

.titles a{
  text-decoration: none;
  color: #000;
}

.titles a:hover{
  color: #40B7EB;
}

  .exhibit-container h2{
    text-align: center;
    padding: 2rem 0;
  }

  .thesis-container {
    display: flex;
  }

  .thesis-left{
    display: flex;
    display: block;
    width: 60%;
    padding: 0rem 0rem 2rem 2rem;
  }

.thesis-video{
  width:100%;
  padding-bottom: 1.5rem;
}

video {
width: 100%
}

  .thesis-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
  }

  .thesis-item {
     display: flex;
     padding: 1rem 1rem 1rem 1rem;
     border-bottom: 1px solid #e6e6e6;
     border-left: 1px solid #e6e6e6;
     }

  .thesis-right .thesis-info {
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 65%;
       padding: 0 0.75rem 0 1rem;
       }

  .thesis-right .thesis-item:nth-child(1){
         background-color: #e6e6e6;
       }

  .thesis-image{
         width: 35%;
       }


  .thesis-image img{
         width: 100%;
       }

  .thesis-info p{
    padding-right: 1.5rem;
  }

  footer {
    background-color: #4a4a4a;
    height: 128px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  footer nav a{
    display: inline-block;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: .75rem;
  }

  footer nav a:hover{
    text-decoration: underline;
  }

  footer p{
    color: #fff;
    text-decoration: none;
    padding-left: 1.5rem;
    flex-grow: 1;
    font-size: .75rem;
  }
